.tituloPae {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 3rem;
    color: #683A67;
    position: relative;
    padding-left: 25px;
    margin-bottom: 3rem;
}

.tituloPae::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 80%;
    background-color: #683A67;
}

.tituloAcordion {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 2rem;
    color: #683A67;
    position: relative;
    padding-left: 25px;
}

.tituloAcordion::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 80%;
    background-color: #683A67;
}

.textAcordion {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: .8rem;
}

@media screen and (max-width: 600px) {
    .tituloPae {
        font-size: 2rem;
        padding-left: 15px;
        margin-bottom: 2rem;
    }

    .tituloAcordion {
        font-size: 1.5rem;
        padding-left: 15px;
    }

    .textAcordion {
        font-size: .7rem;
    }
}

/* Para tablets (pantallas entre 601px y 1024px) */
@media screen and (min-width: 400px) and (max-width: 1024px) {
    .tituloPae {
        font-size: 2.5rem;
        padding-left: 20px;
        margin-bottom: 2.5rem;
    }

    .tituloAcordion {
        font-size: 1.5rem;
        padding-left: 20px;
    }

    .textAcordion {
        font-size: 1rem;
    }
}

