.tituloTaller {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #1c2260;
    position: relative;
    padding-left: 25px;
}

.tituloTaller::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 80%;
    background-color: #1c2260;
}

.parrafoTalleres {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.5rem;
    color: #000000;
}

.adjust-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

.body-card {
    position: relative;
    padding-left: 20px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.body-card::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 6px;
    background-color: #1c2260;
}

@media (max-width: 880px) {
    .tituloTaller {
        font-size: 1.5rem;
    }

    .parrafoTalleres {
        font-size: 1rem;
    }

    .body-card {
        position: relative;
        padding-left: 20px;
        margin-left: 0px;
        margin-bottom: 30px;
    }
}

.hrclass {
    width: 50%;
}

.titulo-taller {
    color: #1c2260;
}

.awesome {
    font-size: 1.5rem;
    color: #1c2260;
}

.cupos{
    margin-left: 10px;
    color: tomato;
}