@media screen and (max-width: 768px) {
    .tituloAcordion {
        font-size: 3rem;
    }

}

.tituloAcordion {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 5rem;
    color: #683A67;
    position: relative;
    padding-left: 25px;
}

.tituloAcordion::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 80%;
    background-color: #683A67;
}