.tituloUtiles {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #1c2260;
    position: relative;
    padding-left: 25px;
    margin-bottom: 3rem;
}

.tituloUtiles::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 80%;
    background-color: #1c2260;
}

.tituloCursos {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1c2260;
    position: relative;
    padding-left: 25px;
    margin-bottom: 3rem;
    margin-left: 15px;
}

.tituloCursos::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 80%;
    background-color: #1c2260;
}

.tituloCards {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: #1c2260;
    position: relative;
}

.card {
    border-radius: 10px;
    margin-bottom: 20px;
}


/* ****************************** */
.buttonPDF {
    outline: none;
    cursor: pointer;
    border: 1px solid #B0E0E6;
    padding: .7rem 1rem;
    margin: 0;
    font-family: inherit;
    font-size: 17px;
    border-radius: 500px;
    background: #B0E0E6;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 2px;
    margin-right: 2px;
}

.buttonPDF:hover {
    border: 1px solid #1c2260;
    background-color: #1c2260;
    color: rgb(255, 255, 255);
}

.buttonPDF .faDownload,
.buttonPDF .faFilePdf {
    color: inherit;
    margin-right: 5px;
}

/* ****************************** */