.card-icon {
  width: 30% !important;
  align-items: center !important;
  max-height: 250px;
  object-fit: cover;
}

.titulo {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #1c2260;
  position: relative;
  padding-left: 25px;
}

.titulo::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 80%;
  background-color: #1c2260;
}

.titulo-card {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #1c2260;
  position: relative;
  padding-left: 25px;
}

.titulo-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 80%;
  background-color: #ffffff;
}

.parrafo {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.5rem;
  color: #000000;
}

.parrafo-card {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1rem;
  color: #FBAE3C;
}



@media (max-width: 480px) {
  .titulo {
    font-size: 1.5rem;
  }

  .parrafo {
    font-size: 1rem;
  }

  .titulo-card {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: #1c2260;
    position: relative;
    padding-left: 25px;
  }
}


.container-fondo {
  background: linear-gradient(180deg, #e3f2fd 0%, #ffffff 100%);
  border-radius: 20px;
  padding: 2rem;
  margin: 0 1rem;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
}

.container-fondo::before {
  content: '';
  position: absolute;
  top: -50px;
  left: -50px;
  width: 200px;
  height: 200px;
  background: #bbdefb;
  border-radius: 50%;
  z-index: 1;
}

.container-fondo::after {
  content: '';
  position: absolute;
  bottom: -50px;
  right: -50px;
  width: 300px;
  height: 300px;
  background: #90caf9;
  border-radius: 50%;
  z-index: 1;
}

.container-fondo>* {
  position: relative;
  z-index: 2;
}