.tituloNav {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 2.5rem;
  color: #74a6cf;
  position: relative;
  padding-left: 25px;
}

.subtituloNav {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 2rem;
  color: #74a6cf;
  position: relative;
  padding-left: 25px;
}

.custom-link {
  position: relative;
  transition: all 0.3s ease;
  /* Smooth transition for hover effects */
  overflow: hidden;
  /* Hide the underline before it's fully visible */
}

.custom-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: currentColor;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.custom-link:hover::after,
.active-link::after {
  width: 100%;
}

#color-bg {
  background-color: #ad96c2 !important;
}

.bold {
  font-weight: bold;
}

#color-bg .navbar-toggler {
  border-color: white;
}

#color-bg .navbar-toggler-icon {
  filter: invert(1);
  /* This will invert the colors, making black into white */
}

#color-bg .navbar-toggler:focus {
  outline: none;
  /* Removes the default outline */
  box-shadow: 0 0 5px white;
  /* Adds a white shadow around the button */
}