.btn .fa-thumbs-up {
    margin-right: 5px;
}

.custom-pagination .page-item.active .page-link {
    background-color: #d0d0d0;
    border-color: #d0d0d0;
}

.custom-pagination .page-link {
    color: #000;
    background-color: #f0f0f0;
    border-color: #d0d0d0;
}

.custom-pagination .page-link:hover {
    background-color: #c0c0c0;
}

.text-right {
    text-align: right;
}
