.my-carousel img {
    width: 100%;
}

.my-carousel .carousel-caption h3 {
    font-size: 2rem;
}

.my-carousel .carousel-caption p {
    font-size: 1rem;
}

.my-carousel .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #808080;
    border: none;
    transition: background-color 0.3s;
    margin-right: 5px;
    margin-left: 5px;
}

.my-carousel .carousel-indicators button.active {
    background-color: #683A67;
}

.my-carousel .carousel-control-prev,
.my-carousel .carousel-control-next {
    background-color: transparent;
}

.my-carousel .carousel-control-prev-icon,
.my-carousel .carousel-control-next-icon {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 50%;
    padding: 20px;
    transition: background-color 0.3s;
}

.my-carousel .carousel-control-prev-icon:hover,
.my-carousel .carousel-control-next-icon:hover {
    background-color: rgba(100, 100, 100, 0.5);
}

/* Estilos para pantallas medianas (tablets) */
@media (max-width: 992px) {
    .my-carousel img {
        max-height: 450px;
        object-fit: cover;
    }

    .my-carousel .carousel-caption h3 {
        font-size: 1.5rem;
    }

    .my-carousel .carousel-caption p {
        font-size: 0.9rem;
        display: none;
    }

    .my-carousel .carousel-indicators button {
        width: 10px;
        height: 10px;
    }

    .my-carousel .carousel-control-prev-icon,
    .my-carousel .carousel-control-next-icon {
        padding: 15px;
    }
}

/* Estilo específico para móviles */
@media (max-width: 768px) {
    .my-carousel img {
        width: 100vh;
    }
}

/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media (max-width: 576px) {
    .my-carousel img {
        max-height: 300px;
        object-fit: cover;
    }

    .my-carousel .carousel-caption h3 {
        font-size: 1.2rem;
        margin-top: 100px;
    }

    .my-carousel .carousel-caption p {
        font-size: 0.8rem;
        display: none;
    }

    .my-carousel .carousel-indicators button {
        width: 8px;
        height: 8px;
    }

    .my-carousel .carousel-control-prev-icon,
    .my-carousel .carousel-control-next-icon {
        padding: 10px;
    }
}


.buttonAnimated {
    margin-top: 20px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.buttonAnimated:hover {
    background-color: #4BD1FF;
    -webkit-box-shadow: 0px 15px 20px rgba(75, 209, 255, 0.4);
    box-shadow: 0px 15px 20px rgba(75, 209, 255, 0.4);
    color: #fff;
    -webkit-transform: translateY(-7px) scale(1.05);
    -ms-transform: translateY(-7px) scale(1.05);
    transform: translateY(-7px) scale(1.05);
}


.buttonAnimated:active {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
}