body {
  background-image: url(../src/assets/img/site-background.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}